@model SigningPortal.Web.ViewModels.GenericTemplates.GenericTemplateListViewModel
@{
    await Html.RenderPartialAsync("_AlertBox");
}

<style>
    /* Custom dropdown menu style */
    .custom-dropdown {
        position: relative;
        display: inline-block;
    }

    .custom-dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 120px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        z-index: 1;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

        .custom-dropdown-content a {
            color: #333;
            padding: 0.25rem 1rem;
            text-decoration: none;
            display: block;
            font-size: 14px;
            text-align: left !important;
        }

            .custom-dropdown-content a:hover {
                background-color: #eeeeee;
                color: black;
            }

    .custom-dropdown:hover .custom-dropdown-content {
        display: block;
    }

    .custom-dropdown-content li {
        list-style: none;
    }

    .btn {
        text-transform: capitalize !important;
        font-size: 12px !important;
    }

    /* Ensure full width for table */
    .table-container {
        width: 100%;
        overflow-x: auto;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
    }
</style>

<div class="row" style="height:100vh;">
    <div class="col-md-12" style="height:100%;">
        <div class="card background-image" style="height:100%; padding-left:3%">
            <div class="card-body background-image" style="height: 111px; margin-top: 44px;">
                <div class="row p-b-20">
                    <div>
                        <h3 style="margin-bottom: -47px; margin-top: -45px;">
                            Generic Templates
                        </h3>
                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        &nbsp;&nbsp;&nbsp
                        <div class="btn-group" style="float:right; margin-right: -7%;">

                            <a class="submit-button" asp-action="CreateGenericTemplate" asp-controller="GenericTemplate">
                                <img src="./img/plus button.svg" style="width: 23px; height: 19px;" alt="Ellipsis Icon">
                                Create Template
                            </a>



                        </div>

                    </div>
                    <br />
                    <br />

                    <div class="table-container" style="padding-left:0">
                        @if (Model.TemplateList == null || Model.TemplateList.Count() == 0)
                        {
                            <div class=" text-center">
                                <div class="card-body" style=" padding:0px;">
                                    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">No Document Templates are available</div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <table id="roleTable" class="table table-striped table-bordered table-hover table-checkable order-column full-width">
                                <thead style="text-align:center ;background-color: #EEEEEE !important">
                                    <tr>
                                        <th style="text-align:left!important">TEMPLATE NAME</th>
                                        <th>DOCUMENT NAME</th>
                                        <th>CREATED DATE</th>
                                        <th>ACTIONS</th>
                                    </tr>
                                </thead>
                                <br />
                                <tbody style="text-align:center">

                                    @foreach (var item in Model.TemplateList)
                                    {
                                        <tr class="odd gradeX">
                                            <td style="text-align:left!important">@item.TemplateName</td>
                                            <td>@item.DocumentName</td>
                                            <td>@item.CreatedAt.ToString("dd/MM/yyyy")</td>
                                            <td class="valigntop">
                                                <div class="custom-dropdown">
                                                    <button class="btn btn-success deepGreen-bgcolor no-margin" type="button">
                                                        Actions
                                                        <i class="fa fa-caret-down"></i>
                                                    </button>
                                                    <ul class="custom-dropdown-content">
                                                        <li>
                                                            <a asp-action="GetTemplateDetails" asp-route-templateId="@item._id">
                                                                <i class="icon-docs"></i>Edit
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a asp-action="Preview" asp-route-templateId="@item._id">
                                                                <i class="icon-docs"></i>Preview
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#GenericTemplateMenu').addClass('active');
        var table = $("#roleTable").DataTable({
            "bLengthChange": false,
            "searching": false,
            "pageLength": 5,
            "orderClasses": false,
            "stripeClasses": [],
            "info": true,
            "ordering": false,
        });
    });
</script>
